@import "font-awesome.scss";
$openSans: Open Sans, Arial, sans-serif;
$raleway: Raleway, Arial, sans-serif;
$ptSans: 'PT Sans', sans-serif;

p, ul, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.container{
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align: center;
}
.slider_wrapper{
    overflow: hidden;
    position:relative;
    top:auto;
    width: 100%;
}
.image_slider{
    position: relative;
    height: auto;
    list-style: none;
    overflow: hidden;
    float: left;
    padding:0;
    margin:0;
}
.image_slider > li{
    position: relative;
    float: left;
}


.nvgt{
    position:absolute;
    top: 120px;
    height: 50px;
    width: 30px;
    opacity: 0.6;
}
.nvgt:hover{
    opacity: 0.9;
}
.prev{
    background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
    left: 0px;
}
.next{
    background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
    right: 0px;
}
.info {
    width: 100%;
    .title {
        color: #212121;
        font-family: $openSans;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
    }
    .description {
        color: #86878b;
        font-family: $openSans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        p:first-child{
            margin-bottom: 15px;
        }
    }
}
.content{
    >.title{
        color: #212121;
        font-family: $raleway;
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
    }
    >.title:after{
        content: "";
        width: 64px;
        height: 2px;
        background: #ff8b38;
        margin: 21px auto 0;
        display: block;
    }
    >.description{
        color: #86878b;
        font-family: $openSans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        margin-bottom: 80px;
    }
}

body {
    margin: 0;
    .content{
        max-width: 1100px;
        width: 100%;
        margin: auto    ;
    }
    header {
        height: 70px;
        background-color: #37495e;
        box-sizing: border-box;
        nav {
            float: right;
            .main_menu{
                margin: 0;
                height: 70px;
                right: -23px;
                .item_menu {
                    display: inline-block;
                    list-style: none;
                    height: 70px;
                    box-sizing: border-box;
                    a{
                        opacity: 0.69;
                        color: white;
                        font-family: Open Sans, Arial, sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        text-decoration: none;
                        width: 100%;
                        padding: 25px 22px;
                        display: block;
                        height: 70px;
                        box-sizing: border-box;
                    }
                }
                .item_menu:hover{
                    background: #ff8b38;
                    transition: all 0.3s ease;
                    -webkit-transition:All 0.3s ease;
                    -moz-transition:All 0.3s ease;
                    -o-transition:All 0.3s ease;
                }

                .sub_menu{
                    display: none;
                    position: absolute;
                    top: 70px;
                    width: 100%;
                    left: 0;
                    overflow: hidden;
                    background: white;
                    padding: 15px 0;
                    transition: all 0.3s ease;
                    .preview, .menus{
                        width: 50%;
                        float: left;
                    }
                    .menus{
                        padding-left: 30px;
                        box-sizing: border-box;
                        padding-top: 20px;
                        ul{
                            float: left;
                            width: 25%;
                            li{
                                list-style: none;
                                a{
                                    text-decoration: none;
                                    font-family: $openSans;
                                    font-size: 10px;
                                }

                                a:visited{
                                    color: #86878b;
                                }
                            }
                            li:hover a{
                                color: #ff8b38;
                            }
                        }
                    }
                    .preview{
                        li{
                            float: left;
                            width: 25%;
                            padding: 0 10px;
                            box-sizing: border-box;
                            list-style: none;
                            a{
                                text-decoration: none;
                                font-family: $openSans;
                                font-size: 10px;
                            }
                            a:visited{
                                color: #86878b;
                            }
                            a:hover{
                                color: #ff8b38;
                            }
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .main_menu:hover .sub_menu{
                display: block;
            }

        }
        .logo{
            display: block;
            width: 190px;
            height: 29px;
            float: left;
            padding: 20px 0 21px;
        }
    }

    .content_block{
        overflow: hidden;
        .top_banner{
            background: url("../img/header-panel.png") center top no-repeat;
            width: 100%;
            overflow: hidden;
            padding: 140px 0 138px;
            .content{
                .info{
                    max-width: 516px;
                    width: 100%;
                    float: left;
                    padding-top: 53px;
                    .title{
                        color: white;
                        font-family: $raleway;
                        font-size: 36px;
                        font-weight: 400;
                        text-transform: uppercase;
                        max-width: 516px;
                        width: 100%;
                        display: block;
                        margin-bottom: 35px;
                        line-height: 44px;
                    }
                    .title:after{
                        margin-top: 32px;
                        content: "";
                        display: block;
                        width: 70px;
                        border-top: 2px solid white;
                    }
                    .description{
                        opacity: 0.8;
                        color: white;
                        font-family: Raleway, Arial, sans-serif;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 23px;
                        max-width: 461px;
                        width: 100%;
                        margin-bottom: 41px;
                    }
                    .button{
                        color: white;
                        font-family: $openSans;
                        font-size: 15px;
                        font-weight: 600;
                        border: 1px solid white;
                        width: 135px;
                        height: 42px;
                        padding: 10px 0;
                        box-sizing: border-box;
                        text-align: center;
                        transition: all 0.3s ease;
                        -webkit-transition:All 0.3s ease;
                        -moz-transition:All 0.3s ease;
                        -o-transition:All 0.3s ease;
                        cursor: pointer;
                    }
                    .button:hover{
                        color: #37495e;
                        background: white;
                        transition: all 0.3s ease;
                        -webkit-transition:All 0.3s ease;
                        -moz-transition:All 0.3s ease;
                        -o-transition:All 0.3s ease;
                    }
                }
                >.form{
                    float: right;
                    width: 360px;
                    .header_form{
                        font-family: $openSans;
                        font-size: 20px;
                        font-weight: 700;
                        color: #333;
                        text-align: center;
                        background: #f5f5f5;
                        padding: 13px 0 15px;
                        letter-spacing: 0.6px;
                        span{
                            color: #ff8b38;
                        }
                    }
                    form{
                        padding-top: 29px;
                        background: white;
                        input{
                            display: block;
                            clear: both;
                        }
                        input[type="text"]{
                            max-width: 285px;
                            width: 100%;
                            height: 31px;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            border-bottom: 1px solid rgba(0, 0, 1, 0.16);
                            margin: 0 38px 36px 37px;
                            padding-left: 14px;
                            outline: none;
                            box-sizing: border-box;
                        }
                        input[type="text"]:nth-child(2){
                            margin-bottom: 47px;
                        }
                        input[type="text"]:nth-child(3){
                            margin-bottom: 48px;
                        }
                        input[type="submit"]{
                            height: 54px;
                            width: 100%;
                            background: #ff9b51;
                            color: white;
                            font-family: $openSans;
                            font-size: 15px;
                            font-weight: 600;
                            border: none;
                            padding: 15px 0;
                            text-align: center;
                            cursor: pointer ;
                            box-sizing: border-box;
                            transition: all 0.3s ease;
                            -webkit-transition:All 0.3s ease;
                            -moz-transition:All 0.3s ease;
                            -o-transition:All 0.3s ease;
                        }
                        input[type="submit"]:hover{
                            background: #37495e;
                            transition: all 0.3s ease;
                            -webkit-transition:All 0.3s ease;
                            -moz-transition:All 0.3s ease;
                            -o-transition:All 0.3s ease;
                        }
                    }
                }
            }
        }
    }

    .social_media{
        overflow: hidden;
        padding: 22px 0 18px;
        box-sizing: border-box;
        -webkit-box-shadow: 0 0 19px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 19px -5px rgba(0,0,0,0.75);
        box-shadow: 0 0 19px -5px rgba(0,0,0,0.75);
        position: relative;
        .info{
            max-width: 361px;
            width: 100%;
            float: left;
            .title{
                color: #333;
                font-family: Open Sans, Arial, sans-serif;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 4px;
                letter-spacing: 0.7px;
                display: block;
            }
            .description{
                color: #86878b;
                font-family: $openSans;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                margin: 0;
            }
        }
        .social_link{
            max-width: 653px;
            width: 100%;
            float: right;
            margin: 5px 0 0;
            .link{
                display: inline-block;
                list-style: none;
                margin-right: 56px;
                transition:All 1s ease;
                -webkit-transition:All 1s ease;
                -moz-transition:All 1s ease;
                -o-transition:All 1s ease;
                transform: rotate(0deg);
                -webkit-transform: rotate3d(0,1,0,0deg);
                -moz-transform: rotate3d(0,1,0,0deg);
                -o-transform: rotate3d(0,1,0,0deg);
                -ms-transform: rotate3d(0,1,0,0deg);
                a{
                    display: block;
                    height: 46px;
                    color: #ccc;
                    font-size: 48px;
                    font-weight: 400;
                }
            }
            .fb{
                margin-right: 56px;
            }
            .tw{
                margin-right: 55px;
            }
            .gp{
                margin-right: 28px;
            }
            .link:last-child{
                margin-right: 0;
            }
            .link:hover{
                transform: rotate3d(0,1,0,-360deg);
                -webkit-transform: rotate3d(0,1,0,-360deg);
                -moz-transform: rotate3d(0,1,0,-360deg);
                -o-transform: rotate3d(0,1,0,-360deg);
                -ms-transform: rotate3d(0,1,0,-360deg);
            }
        }
    }

    .transition{
        padding: 147px 0 114px;
        background-color: whitesmoke;
        overflow: hidden;
        .tabs{
            float: left;
            .tab{
                cursor: pointer;
                width: 112px;
                height: 111px;
                box-sizing: border-box;
                color: white;
                font-family: $openSans;
                font-size: 15px;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
                padding-top: 45px;
                text-align: center;
                background: #37495e;
                transition: all 0.3s ease;
                -webkit-transition:All 0.3s ease;
                -moz-transition:All 0.3s ease;
                -o-transition:All 0.3s ease;
            }
            .tab:hover{
                background: #ff8b38;
                transition: all 0.3s ease;
                -webkit-transition:All 0.3s ease;
                -moz-transition:All 0.3s ease;
                -o-transition:All 0.3s ease;
            }
            .active{
                background: #ff8b38;
                transition: all 0.3s ease;
                -webkit-transition:All 0.3s ease;
                -moz-transition:All 0.3s ease;
                -o-transition:All 0.3s ease;
            }
        }
        .tab_panels{
            float: right;
            height: 142px;
            max-width: 899px;
            width: 100%;
            position: relative;
            .panel{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                z-index: 1;
                transition: all 1.5s ease;
                -webkit-transition:All 1.5s ease;
                -moz-transition:All 1.5s ease;
                -o-transition:All 1.5s ease;
                .info{
                    max-width: 477px;
                    width: 100%;
                    float: left;
                    padding-top: 6px;
                    .title{
                        color: black;
                        font-family: $openSans;
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 49px;
                        letter-spacing: 0.9px;
                    }
                    .description{
                        margin-bottom: 47px;
                        p{
                            color: #86878b;
                            font-family: $openSans;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                        }
                        p:first-child{
                            margin-bottom: 20px;
                        }
                    }
                    .button{
                        background: #ff8b38;
                        width: 121px;
                        height: 46px;
                        border-radius: 2px;
                        text-align: center;
                        color: white;
                        font-family: $openSans;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 20px;
                        padding-top: 12px;
                        box-sizing: border-box;
                        transition: all 0.3s ease;
                        -webkit-transition:All 0.3s ease;
                        -moz-transition:All 0.3s ease;
                        -o-transition:All 0.3s ease;
                        cursor: pointer;
                    }
                    .button:hover{
                        background: #37495e;
                        transition: all 0.3s ease;
                        -webkit-transition:All 0.3s ease;
                        -moz-transition:All 0.3s ease;
                        -o-transition:All 0.3s ease;
                    }
                }
                img{
                    float: right;
                    width: 320px;
                    height: 253px;
                    margin-top: 23px;
                }
            }
            .active{
                z-index: 2;
                opacity: 1;
                transition: all 1.5s ease;
                -webkit-transition:All 1.5s ease;
                -moz-transition:All 1.5s ease;
                -o-transition:All 1.5s ease;
            }
        }
    }
    .sub_list{
        padding: 107px 0 131px;
        overflow: hidden;
        img{
            margin-top: 20px;
            float: left;
            box-shadow: 0 13px 29px 0 rgba(0, 0, 0, 0.3);
        }
        .info{
            max-width: 434px;
            width: 100%;
            float: left;
            margin-left: 194px;
            .title{
                color: #212121;
                font-family: $openSans;
                font-size: 20px;
                font-weight: 700;
                line-height: 22px;
                margin-bottom: 26px;
                letter-spacing: 0.9px;
            }
            .title:after{
                content: "";
                width: 64px;
                height: 2px;
                background: #ff8b38;
                margin-top: 25px;
                display: block;
            }
            .description{
                margin-bottom: 46px;
                color: #86878b;
                font-family: $openSans;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
            .list{
                overflow: hidden;
                .item{
                    list-style: none;
                    .icon{
                        width: 40px;
                        height: 40px;
                        color: #ff8b38;
                        border-radius: 50%;
                        border: 2px solid #ff8b38;
                        box-sizing: border-box;
                        padding-top: 10px;
                        text-align: center;
                        float: left;
                        i{
                            font-size: 16px;
                        }
                    }
                    .title_item{
                        color: #212121;
                        font-family: $openSans;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 17px;
                        margin-bottom: 12px;
                        padding-left: 29px;
                    }
                    .description_item{
                        color: #86878b;
                        font-family: $openSans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        padding-left: 71px;
                    }
                }
                .item:first-child{
                    margin-bottom: 42px;
                }
            }
        }
    }

    .picture_section{
        overflow: hidden;
        background-color: whitesmoke;
        padding: 90px 0 130px;
        .info{
            float: left;
            max-width: 474px;
            width: 100%;
            padding-top: 15px;
            .title{
                margin-bottom: 26px;
            }
            .title:after{
                content: "";
                width: 64px;
                height: 2px;
                background: #ff8b38;
                margin-top: 26px;
                display: block;
            }
            .description{
                p:first-child{
                    margin-bottom: 20px;
                }
            }
        }
        img{
            float: right;
            box-shadow: 0 13px 29px 0 rgba(0, 0, 0, 0.3);
        }
    }

    .awesome{
        padding: 100px 0 99px;
        .title{
            color: #212121;
            font-family: $raleway;
            font-size: 36px;
            font-weight: 400;
            line-height: 43px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 26px;
        }
        .title:after{
            content: "";
            width: 64px;
            height: 2px;
            background: #ff8b38;
            margin: 22px auto 0;
            display: block;
        }
        .description{
            color: #86878b;
            font-family: $openSans;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            margin-bottom: 80px;
        }
        .list{
            text-align: center;
            overflow: hidden;
            .item{
                float: left;
                list-style: none;
                max-width: 352px;
                width: 100%;
                .title_item{
                    color: #212121;
                    font-family: $openSans;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 17px;
                    margin: 29px 0 25px;
                }
                .description_item{
                    color: #86878b;
                    font-family: $openSans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
                .icon{
                    width: 70px;
                    height: 70px;
                    color: #ff8b38;
                    border-radius: 50%;
                    border: 2px solid #ff8b38;
                    box-sizing: border-box;
                    padding-top: 18px;
                    margin: auto;
                    i{
                        font-size: 32px;
                    }
                }
            }
            .item:nth-child(2){
                margin: 0 18px;
            }
        }
    }

    .pricing{
        background-color: whitesmoke;
        padding: 100px 0 92px;
        .content{
            .title{
                margin-bottom: 25px;
            }
            .title:after{
                margin-top: 21px;
            }
        }
        .price{
            .item{
                display: inline-block;
                width: 343px;
                ul{
                    li{
                        list-style: none;
                        font-family: $openSans;
                        text-align: center;
                    }
                    li:nth-child(2){
                        font-family: $raleway;
                    }
                    li:nth-child(3):after{
                        content: "";
                        height: 5px;
                        background: #ff8b38;
                        display: block;
                        margin-top: 16px;
                    }
                    .item1{
                        color: white;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        background: #37495e;
                        height: 59px;
                        border-bottom: 1px solid white;
                        margin-bottom: 1px;
                        padding-top: 18px;
                        box-sizing: border-box;
                    }
                    .item2{
                        color: white;
                        font-weight: 700;
                        line-height: 106px;
                        font-size: 94px;
                        background: #37495e;
                        height: 100px;
                        margin-bottom: 1px;
                        span{
                            font-size: 35px;
                        }
                    }
                    .item3{
                        color: #86878b;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        text-transform: uppercase;
                        height: 40px;
                        margin-bottom: 1px;
                        background: white;
                        padding-top: 7px;
                        box-sizing: border-box;
                    }
                    .item4{
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        background: #37495e;
                        height: 51px;
                        margin-bottom: 6px;
                        padding-top: 11px;
                        box-sizing: border-box;
                        font-style: italic;
                    }
                }
            }
            .item:nth-child(2){
                margin: 0 31px;
                li:nth-child(3){
                    margin-bottom: 40px;
                }
                li:nth-child(3):after{
                    content: "OUR MOST POPULAR";
                    height: 40px;
                    background: #ff8b38;
                    color: white;
                    display: block;
                    padding-top: 6px;
                    box-sizing: border-box;
                    font-style: normal;
                }
            }
        }
    }

    .feedback{


        padding: 102px 0 92px;
        .description{
            margin-bottom: 55px;
        }
        .list{
            .item{

                list-style: none;
                display: inline-block;
                max-width: 273px;
                width: 100%;
                border-radius: 2px;
                .comment{
                    padding: 18px 12px 27px;
                    background: #f5f5f5;
                    color: #86878b;
                    font-family: $openSans;
                    font-size: 14px;
                    font-weight: 400;
                    position: relative;
                    margin-bottom: 23px;
                    line-height: 17px;
                }
                .comment:after{
                    content: "";
                    border-top: 17px solid #f5f5f5;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: none;
                    display: block;
                    position: absolute;
                    bottom: -16px;
                    left: 26px;
                }
                .people{
                    overflow: hidden;
                    .photo{
                        float: left;
                        border-radius: 50%;
                        height: 72px;
                        width: 72px;
                    }
                    .name{
                        color: #333;
                        font-family: $openSans;
                        font-size: 20px;
                        font-weight: 700;
                        padding-left: 15px;
                    }
                    .position{
                        color: #86878b;
                        font-family: $openSans;
                        font-size: 14px;
                        font-weight: 400;
                        padding-left: 15px;
                    }
                }
            }
            .item:nth-child(2){
                margin: 0 118px;
            }
        }
    }

    .stylish{
        padding: 66px 0 63px;
        background: url("../img/paralax.jpg") center top no-repeat fixed;
        .title{
            color: white;
            font-family: $raleway;
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 31px;
        }
        .title:after{
            background: white;
        }
        .description{
            opacity: 0.8;
            color: white;
            font-family: $raleway;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 33px;
        }
        .button{
            color: white;
            font-family: $openSans;
            font-size: 15px;
            font-weight: 600;
            border: 1px solid white;
            width: 135px;
            height: 42px;
            padding: 10px 0;
            box-sizing: border-box;
            text-align: center;
            transition: all 0.3s ease;
            -webkit-transition:All 0.3s ease;
            -moz-transition:All 0.3s ease;
            -o-transition:All 0.3s ease;
            cursor: pointer ;
            margin: auto;
        }
        .button:hover{
            color: #37495e;
            background: white;
            transition: all 0.3s ease;
            -webkit-transition:All 0.3s ease;
            -moz-transition:All 0.3s ease;
            -o-transition:All 0.3s ease;
        }
    }
    .contacts{
        padding: 99px 0 80px;
        .form{
            form{
                input{
                    display: block;
                }
                input[type="text"]{
                    width: 100%;
                    height: 31px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid rgba(0, 0, 1, 0.16);
                    margin: 0 0 30px;
                    padding-left: 14px;
                    outline: none;
                    box-sizing: border-box;
                    clear: both;
                }
                input[type="submit"]{
                    width: 148px;
                    height: 46px;
                    background: #ff9b51;
                    color: white;
                    font-family: $openSans;
                    font-size: 15px;
                    font-weight: 600;
                    border: none;
                    padding: 12px 0;
                    text-align: center;
                    cursor: pointer ;
                    display: block;
                    clear: both;
                    border-radius: 2px;
                    margin: 13px auto 0;
                    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
                    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
                    box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
                    transition: all 0.3s ease;
                    -webkit-transition:All 0.3s ease;
                    -moz-transition:All 0.3s ease;
                    -o-transition:All 0.3s ease;
                }
                input[type="submit"]:hover{
                    background: #37495e;
                    transition: all 0.3s ease;
                    -webkit-transition:All 0.3s ease;
                    -moz-transition:All 0.3s ease;
                    -o-transition:All 0.3s ease;
                }
                textarea{
                    height: 147px;
                    max-width: 527px;
                    width: 100%;
                    float: right;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid rgba(0, 0, 1, 0.16);
                    resize: none;
                    outline: none;
                }
                .text{
                    float: left;
                    max-width: 527px;
                    width: 100%;
                    margin-bottom: 11px;
                }
            }
        }
    }

    footer{
        background-color: #37495e;
        padding: 21px 0 18px;
        .social_link{
            max-width: 317px;
            width: 100%;
            margin: 0 auto 9px;
            .link{
                color: #ccc;
                font-size: 24px;
                font-weight: 400;
                margin-right: 23px;
                display: inline-block;
                list-style: none;
                transition:All 1s ease;
                -webkit-transition:All 1s ease;
                -moz-transition:All 1s ease;
                -o-transition:All 1s ease;
                a:visited{
                    color: #ccc;
                }
            }
            .link:hover{
                transform: scale(1.5);
                -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                -o-transform: scale(1.5);
                -ms-transform: scale(1.5);
            }
            .link:last-child{
                margin-right: 0;
            }
        }
        .copyright{
            text-align: center;
            opacity: 0.5;
            color: white;
            font-family: $ptSans;
            font-size: 12px;
            font-weight: 400;
        }
    }
}